<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://themeswitcher.csh.rit.edu/api/get">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</head>
    
<body>

<div class="row">
    <div class="col-sm-4">Items</div>
    <div class="col-sm-4">Buffs and Debuffs</div>
    <div class="col-sm-4">Misc.</div>
</div>
    
</body>
</html>