<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="https://themeswitcher.csh.rit.edu/api/get">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    </head>
    
    <body>

    <div class="row">
        <div class="col-sm-4 text-center">
        <div class="lead">Items</div>
            <div class="row text-left">
                <div class="storeItem col-sm-6">Item</div>
                <div class="storePrice col-sm-6">Cost</div>
            </div>
            {% for item in Items %}
            <div class="row text-center">
                <div class="storeItem col-sm-4">{{  item.name  }}</div>
                <div class="storePrice col-sm-4">{{  item.cost  }}</div>
                <div class="storeBuy col-sm-4">
                    <form action="" method="POST">
                        <input type="hidden" name="cost" value={{ item.cost }}/>
                        <input type="hidden" name="code" value={{ item.code }}/>
                        <button name="item" value={{ item.name }}>Buy</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="col-sm-4 text-center">Buffs and Debuffs</div>
        <div class="col-sm-4 text-center">Misc.</div>
    </div>

    

    </body>
</html>